.home-section{
    align-content: flex-start;
    background-color: #f0f0f0;
}
.home-bars{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.top-deals, .trending{
    background-color: #ffffff;
    padding: 20px;
}
.deals-on-products{
    padding: 0px;   
}
.archive-section{
    align-content: flex-start;
    background-color: #ebebeb;
}