.profile-container {
  position: relative;
  display: inline-block;
}
.login-btn{
  background-color: #ffffff00;
  border: #007bff00 solid 1px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: sans-serif;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  width: max-content;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 100;
  padding: 8px 0;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
}
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
.profile-container:hover .dropdown-menu {
  display: block;
}
.profile-container:hover .login-btn {
  background-color: #007bff;
  color: white;
  border: #007bff solid 1px;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: sans-serif;
}
hr{
  color: #007bff;
}
